.tt-textonly.tt-hide-images article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([aria-label="Image"]),
.tt-textonly.tt-hide-videos article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([data-testid="videoComponent"], video) {
  visibility: hidden !important;
  height: 15px !important;
  width: 150px !important;
}

.tt-textonly .r-qklmqi>div>div[data-testId]:is([data-testId=placementTracking]) {
  display: none !important;
}

.tt-textonly.tt-hide-images.tt-media-size-100 article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([aria-label="Image"]):hover,
.tt-textonly.tt-hide-videos.tt-media-size-100 article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([data-testid="videoComponent"], video):hover {
  visibility: visible !important;
  height: fit-content !important;
  width: 100% !important;
}

.tt-textonly.tt-hide-images.tt-media-size-75 article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([aria-label="Image"]):hover,
.tt-textonly.tt-hide-videos.tt-media-size-75 article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([data-testid="videoComponent"], video):hover {
  visibility: visible !important;
  height: fit-content !important;
  width: 75% !important;
}

.tt-textonly.tt-hide-images.tt-media-size-50 article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([aria-label="Image"]):hover,
.tt-textonly.tt-hide-videos.tt-media-size-50 article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([data-testid="videoComponent"], video):hover {
  visibility: visible !important;
  height: fit-content !important;
  width: 50% !important;
}

.tt-textonly.tt-hide-images.tt-media-size-25 article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([aria-label="Image"]):hover,
.tt-textonly.tt-hide-videos.tt-media-size-25 article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([data-testid="videoComponent"], video):hover {
  visibility: visible !important;
  height: fit-content !important;
  width: 25% !important;
}

.tt-textonly.tt-hide-images:not(.tt-media-size-0) article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([aria-label="Image"])::before {
  visibility: visible !important;
  content: '+ Show image' !important;
}

.tt-textonly.tt-hide-videos:not(.tt-media-size-0) article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([data-testid="videoComponent"], video)::before {
  visibility: visible !important;
  content: '+ Show video' !important;
}

.tt-textonly.tt-hide-images:not(.tt-media-size-0) article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([aria-label="Image"]):hover::before,
.tt-textonly.tt-hide-videos:not(.tt-media-size-0) article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([data-testid="videoComponent"], video):hover::before {
  display: none !important;
}

.tt-textonly.tt-hide-images:not(.tt-media-size-0) div.r-yfoy6g article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([aria-label="Image"])::before,
.tt-textonly.tt-hide-videos:not(.tt-media-size-0) div.r-yfoy6g article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([data-testid="videoComponent"], video)::before {
  color: #F7F9F9 !important;
}

.tt-textonly.tt-hide-images:not(.tt-media-size-0) div.r-kemksi article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([aria-label="Image"])::before,
.tt-textonly.tt-hide-videos:not(.tt-media-size-0) div.r-kemksi article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([data-testid="videoComponent"], video)::before {
  color: #E7E9EA !important;
}

.tt-textonly .r-1hwvwag,
.tt-textonly .r-jgbqyi,
.tt-textonly .r-1x2qdy1,
.tt-textonly .r-h7e6lq,
.tt-textonly .r-1bi8zh6,
.tt-textonly .r-1b7u577,
.tt-textonly .r-1rq6c10,
.tt-textonly .r-1hbzrj0 {
  display: none !important;
  flex-basis: 0px !important;
}

.tt-textonly.tt-hide-profile-photos article div:has(> [data-testid="Tweet-User-Avatar"]),
.tt-textonly.tt-hide-profile-photos article [data-testid="Tweet-User-Avatar"] {
  display: none !important;
  flex-basis: 0px !important;
}

.tt-textonly.tt-hide-quotes article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([data-testid="User-Name"]) {
  position: relative !important;
  overflow: hidden !important;
  max-height: 20px !important;
}

.tt-textonly.tt-hide-quotes article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([data-testid="User-Name"]) > * {
  opacity: 0 !important;
  pointer-events: none !important;
}

.tt-textonly.tt-hide-quotes article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([data-testid="User-Name"]):hover {
  max-height: 1000px !important;
}

.tt-textonly.tt-hide-quotes article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([data-testid="User-Name"]):hover > * {
  opacity: 1 !important;
  pointer-events: auto !important;
}

.tt-textonly.tt-hide-quotes article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([data-testid="User-Name"])::before {
  content: '+ Show quote' !important;
  display: block !important;
}

.tt-textonly.tt-hide-quotes article[aria-labelledby]:not([aria-labelledby=""]) div[aria-labelledby]:not([aria-labelledby=""]):has([data-testid="User-Name"]):hover::before {
  display: none !important;
}

.tt-textonly.tt-grayscale-emoji .r-h9hxbl {
  filter: grayscale(100%);
}

.tt-textonly.tt-hide-emoji .r-h9hxbl {
  display: none;
}

@media (max-width: 768px) {
  .tt-textonly header>div>div {
    top: 0 !important;
    z-index: 99 !important;
    border-bottom-width: 1px !important;
    border-bottom-color: #EFF3F4 !important;
    background-color: #FFF !important;
  }

  .tt-textonly header>div>div:has(.r-yfoy6g) {
    background-color: #15202B !important;
  }

  .tt-textonly header>div>div:has(.r-kemksi) {
    background-color: #000 !important;
  }

  .tt-textonly header>div,
  .tt-textonly header>div>div,
  .tt-textonly header>div>div>div {
    width: 100% !important;
    height: 30px !important;
  }

  .tt-textonly header>div>div>div,
  .tt-textonly header>div>div>div>div,
  .tt-textonly header>div>div>div>div>div,
  .tt-textonly header nav {
    flex-direction: row;
  }

  .tt-textonly header>div>div>div>div>div,
  .tt-textonly header nav a {
    width: auto;
    height: auto !important;
    line-height: 30px !important;
    border-radius: 0px !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .tt-textonly header h1 {
    display: none !important;
  }

  .tt-textonly header+main {
    margin-top: 30px !important;
  }

  .tt-textonly header svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  .tt-textonly a[href="/compose/post"] {
    border-radius: 0px !important;
  }

  .tt-textonly div[role="menu"]:has(a[href="/settings"]) {
    top: 30px !important;
    right: 0 !important;
    overflow: auto !important;
  }

  .tt-textonly div[data-testid="hoverCardParent"] {
    top: 30px !important;
  }

  .tt-textonly header>div>div>div {
    overflow-y: hidden;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .tt-textonly header>div>div>div::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .tt-textonly header>div>div>div {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}